In [220]:
# import dependencies
import pandas as pd
import numpy as np
import re

In [221]:
# load in csv files
world_cups_csv = "Data/WorldCups.csv"
wc_matches_csv = "Data/WorldCupMatches.csv"
wc_players_csv = "Data/WorldCupPlayers.csv"

In [222]:
# read the csv files to data frames
world_cups_df = pd.read_csv(world_cups_csv)
wc_matches_df = pd.read_csv(wc_matches_csv)
wc_players_df = pd.read_csv(wc_players_csv)

### World Cups Data

In [223]:
world_cups_df['Attendance'] = world_cups_df['Attendance'].str.replace('.','').astype(int)

In [224]:
world_cups_df

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

### World Cup Matches

In [225]:
wc_matches_df = wc_matches_df.dropna().reset_index(drop=True)

In [226]:
wc_matches_df = wc_matches_df.drop_duplicates('MatchID').reset_index(drop=True)

In [227]:
wc_matches_df = wc_matches_df.apply(pd.to_numeric, errors='ignore', downcast='integer')

In [228]:
wc_matches_df['Datetime'] = pd.to_datetime(wc_matches_df['Datetime'])

In [229]:
wc_matches_df.insert(2,'Date', '')
wc_matches_df.insert(3,'Time', '')
wc_matches_df['Date'] = [d.date() for d in wc_matches_df['Datetime']]
wc_matches_df['Time'] = [d.time() for d in wc_matches_df['Datetime']]
del wc_matches_df['Datetime']

In [230]:
wc_matches_df.insert(6,'Home Team',wc_matches_df['Home Team Initials'])
wc_matches_df.insert(10,'Away Team',wc_matches_df['Away Team Initials'])
del wc_matches_df['Home Team Name']
del wc_matches_df['Away Team Name']
del wc_matches_df['Away Team Initials']
del wc_matches_df['Home Team Initials']

In [231]:
del wc_matches_df['Half-time Home Goals']
del wc_matches_df['Half-time Away Goals']
del wc_matches_df['RoundID']

In [232]:
wc_matches_df.rename(columns={'MatchID':'MatchID_old'}, inplace=True)
wc_matches_df.insert(0, 'MatchID', wc_matches_df['MatchID_old'])
del wc_matches_df['MatchID_old']

In [233]:
wc_matches_df.head()

,MatchID,Year,Date,Time,Stage,Stadium,City,Home Team,Home Team Goals,Away Team Goals,Away Team,Win conditions,Attendance,Referee,Assistant 1,Assistant 2
0,1096,1930,1930-07-13,15:00:00,Group 1,Pocitos,Montevideo,FRA,4,1,MEX,,4444,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA)
1,1090,1930,1930-07-13,15:00:00,Group 4,Parque Central,Montevideo,USA,3,0,BEL,,18346,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI)
2,1093,1930,1930-07-14,12:45:00,Group 2,Parque Central,Montevideo,YUG,2,1,BRA,,24059,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA)
3,1098,1930,1930-07-14,14:50:00,Group 3,Pocitos,Montevideo,ROU,3,1,PER,,2549,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU)
4,1085,1930,1930-07-15,16:00:00,Group 1,Parque Central,Montevideo,ARG,1,0,FRA,,23409,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU)

### World Cup Players

In [234]:
del wc_players_df['Coach Name']
del wc_players_df['Line-up']
del wc_players_df['Shirt Number']
del wc_players_df['Position']

In [235]:
wc_players_df['Event'] = wc_players_df['Event'].fillna('')

In [236]:
wc_players_df['Goals'] = 0
wc_players_df['Own Goals'] = 0
wc_players_df['Yellow Card'] = 0
wc_players_df['Red Card'] = 0
wc_players_df['Second Yellow Card'] = 0
wc_players_df['Penalty'] = 0
wc_players_df['Missed Penalty'] = 0

In [237]:
for index, row in wc_players_df.iterrows():
    events = row['Event'].split(' ')
    for event in events:
        if len(event) != 0:
            if event[0] == 'G':
                wc_players_df.loc[index,'Goals'] += 1
            elif event[0:2] == 'OG':
                wc_players_df.loc[index,'Own Goals'] += 1
            elif event[0] == 'Y':
                wc_players_df.loc[index,'Yellow Card'] += 1
            elif event[0] == 'R':
                wc_players_df.loc[index,'Red Card'] += 1
            elif event[0:2] == 'SY':
                wc_players_df.loc[index,'Second Yellow Card'] += 1
            elif event[0] == 'P':
                wc_players_df.loc[index,'Penalty'] += 1
            elif event[0:2] == 'MP':
                wc_players_df.loc[index,'Missed Penalty'] += 1

In [238]:
del wc_players_df['Event']
del wc_players_df['RoundID']

In [240]:
wc_players_df.head(7)

,MatchID,Team Initials,Player Name,Goals,Own Goals,Yellow Card,Red Card,Second Yellow Card,Penalty,Missed Penalty
0,1096,FRA,Alex THEPOT,0,0,0,0,0,0,0
1,1096,MEX,Oscar BONFIGLIO,0,0,0,0,0,0,0
2,1096,FRA,Marcel LANGILLER,1,0,0,0,0,0,0
3,1096,MEX,Juan CARRENO,1,0,0,0,0,0,0
4,1096,FRA,Ernest LIBERATI,0,0,0,0,0,0,0
5,1096,MEX,Rafael GARZA,0,0,0,0,0,0,0
6,1096,FRA,Andre MASCHINOT,2,0,0,0,0,0,0

In [13]:
unique_players_df = wc_players_df.drop_duplicates(['Player Name']).reset_index(drop=True)

In [43]:
unique_players_df

      RoundID    MatchID Team Initials         Player Name      Event
0         201       1096           FRA         Alex THEPOT
1         201       1096           MEX     Oscar BONFIGLIO
2         201       1096           FRA    Marcel LANGILLER       G40'
3         201       1096           MEX        Juan CARRENO       G70'
4         201       1096           FRA     Ernest LIBERATI
5         201       1096           MEX        Rafael GARZA
6         201       1096           FRA     Andre MASCHINOT  G43' G87'
7         201       1096           MEX       Hilario LOPEZ
8         201       1096           FRA     Etienne MATTLER
9         201       1096           MEX      Dionisio MEJIA
10        201       1096           FRA        Marcel PINEL
11        201       1096           MEX        Felipe ROSAS
12        201       1096           FRA     Alex VILLAPLANE
13        201       1096           MEX        Manuel ROSAS
14        201       1096           FRA      Lucien LAURENT       G19'
15        201       1096           MEX           Jose RUIZ
16        201       1096           FRA      Marcel CAPELLE
17        201       1096           MEX     Alfredo SANCHEZ
18        201       1096           FRA   Augustin CHANTREL
19        201       1096           MEX      Efrain AMEZCUA
20        201       1096           FRA      Edmond DELFOUR
21        201       1096           MEX          Luis PEREZ
22        201       1096           FRA     Celestin DELMER
23        201       1096           MEX        Isidoro SOTA
24        201       1096           FRA        Andre TASSIN
25        201       1096           MEX        Jesus CASTRO
26        201       1096           FRA       Nouma ANDOIRE
27        201       1096           MEX     Felipe OLIVARES
28        201       1096           FRA        Jean LAURENT
29        201       1096           MEX  Raimundo RODRIGUEZ
...       ...        ...           ...                 ...        ...
7633   255931  300186499           RUS             SAMEDOV
7634   255931  300186499           KOR             K Y HAN
7635   255931  300186499           RUS            FAYZULIN
7636   255931  300186499           KOR              S Y KI       Y30'
7637   255931  300186499           RUS           ESHCHENKO
7638   255931  300186499           KOR             C Y LEE
7639   255931  300186499           RUS         D. KOMBAROV
7640   255931  300186499           KOR            J H HONG       O73'
7641   255931  300186499           RUS             LODYGIN
7642   255931  300186499           KOR             S G KIM
7643   255931  300186499           RUS            RYZHIKOV
7644   255931  300186499           KOR             B Y LEE
7645   255931  300186499           RUS              KOZLOV
7646   255931  300186499           KOR             C S KIM
7647   255931  300186499           RUS         SHCHENNIKOV
7648   255931  300186499           KOR            T H KWAK
7649   255931  300186499           RUS             SEMENOV
7650   255931  300186499           RUS          KANUNNIKOV
7651   255931  300186499           KOR             B K KIM       I84'
7652   255931  300186499           RUS             DENISOV       I72'
7653   255931  300186499           KOR              D S HA
7654   255931  300186499           RUS             DZAGOEV       I59'
7655   255931  300186499           KOR             K H LEE  I56' G68'
7656   255931  300186499           KOR            J W PARK
7657   255931  300186499           RUS              GRANAT
7658   255931  300186499           KOR             S W KIM
7659   255931  300186499           RUS          MOGILEVETC
7660   255931  300186499           KOR              D W JI
7661   255931  300186499           RUS               IONOV
7662   255931  300186499           KOR            J H PARK

[7663 rows x 5 columns]